.createSimulationContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
    min-height: 100vh;
  }
  .createSimulationForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .createSimLabel {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    font-size: 1.2em;
    color: #555;
  }
  
  .createSimInput {
    padding: 10px;
    margin-top: 5px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .createSimInput:focus{
    outline: none;
    border-color: #007bff;
  }
  
  .submitButton, .homeLink {
    padding: 10px 20px;
    font-size: 1em;
    font-weight: 700;
    color: #1a73e8;
    background-color: #fff;
    border: 1px solid #1a73e8;
    border-radius: 17px;
    cursor: pointer;
    margin: 10px 0;
    transition: background-color 0.3s ease;
    text-decoration: none;
  }
  
  .submitButton:hover, .homeLink:hover {
    box-shadow: 0 1px 2px rgba(60,64,67,0.3),0 2px 6px 2px rgba(60,64,67,0.15);
  }
  
  .exampleLatLong {
    color:#555;
    font-size: 0.6em;
    align-self: right;
  }

  .latLongLable{
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  